@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-emerald-950: #022c22;
  --color-emerald-900: #064e3b;
  --color-emerald-800: #065f46;
  --color-emerald-700: #047857;
  --color-emerald-600: #059669;
  --color-emerald-500: #10b981;
  --color-emerald-400: #34d399;
  --color-emerald-100: #d1fae5;
  --color-emerald-50: #ecfdf5;
  --color-amber-500: #f59e0b;
  --color-amber-400: #fbbf24;
  --color-amber-600: #d97706;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  color: #171717;
  background: #ffffff;
  overflow-x: hidden;
}
